.Card {
  width: 100%;
  min-height: 400px;
  display: flex;
}
.card-warp {
  flex: 1;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(150, 160, 170, 0.3) 1px 2px 2px;
  border: 1px solid rgba(150, 160, 170, 0.2);
  box-sizing: border-box;
}
